body {
    font-family: Roboto;
    font-size: 16px !important;
}

.mdl-layout__drawer-button{
    background: #f7f7f7;
    width: 100%;
    text-align: left;
}

.layout-transparent::after {
    background: url('../assets/images/background.jpeg') center / cover no-repeat;
    opacity: 0.2;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.mdl-layout__header,
.mdl-layout__drawer-button,
.mdl-navigation .mdl-navigation__link {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    color: black;
}

.mdl-layout__header-row .mdl-navigation__link {
    line-height: 32px;
}

.mdl-layout__header-row .mdl-navigation__link.active {
    border-bottom: 2px indigo solid;
}


.mdl-data-table {
    width: 100%;
}

.mdl-data-table td, .mdl-data-table th {
    text-align: left;
}


.mdl-card__title-text {
    padding: 20px;
    color: black;
}

.mdl-navigation {
    width: 100%;
    justify-content: center;
}
.flag {
    font-size: 24px;
}

.mdl-navigation__link:hover {
    border-bottom: 2px black solid;
}

.mdl-layout__content,
.mdl-layout__header-row {
    display: flex;
    justify-content: center;
}

.mdl-layout__image {
    height: 100%;
    opacity: 0.5;
}

.mdl-cell--2-col img{
    width: 100%;
}

.mdl-cell--3-col img{
    width: 100%;
}

.mdl-cell--4-col img{
    width: 100%;
}

.mdl-cell--4-col .mdl-card {
    width: 100%;
}

.mdl-cell--6-col .mdl-card {
    width: 100%;
}

.guitar {
    background: url('../assets/images/stare-kuke-2.jpg') center / cover;
    background-position: 100% 30%;
}
.guitar .mdl-card__title-text, .singer .mdl-card__title-text{
    font-weight: 700;
    color: #f7f7f7;
}

.singer {
    background: url('../assets/images/stare-kuke-6.jpg') center / cover;
    background-position: 100% 20%;
}

@media (min-width: 992px) {
    .mdl-layout__content {
        width: 80%;
        overflow: auto;
    }
    .layout-transparent::after { 
        background-position: 100% 25%;
    }
}